.max-w {
  max-width: 1600px;
  margin: auto;
}

.secondary-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.ms-m-md-banner {
  @include media(md) {
    margin-left: -1rem;
  }
}
